<li>
	<i class="tiny material-icons">fastfood</i>

	{{name}}


	<button id="change-status" class="change-status btn-submit green darken-3 white-text" data-newStatus="{{eaten}}" data-id="{{id}}"> 
		{{#if eaten}}Reorder{{else}}EAT. DA. BURGER{{/if}}
	</button>

	
	<button class="delete-burger btn-submit green darken-3 white-text" data-id="{{id}}">Delete</button>
	
</li>
