<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{this.id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}Reorder{{else}}EAT. DA. BURGER{{/if}}
	</button>
	
	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
	

</li>
